<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Password Generator</title>
  </head>
  <body>
  <div class ="container text-center">
  <div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Random Password Generator Application</h4>
</div>
    {% comment %} <h1>Random Password Generator Application</h1> {% endcomment %}
    <form action = "{% url 'password' %}">
      <select class="mb-2" name="length">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
      </select>
      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="uppercase" name="uppercase">
        <label class="custom-control-label" for="uppercase">Upper Characters</label>
      </div>
      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="number" name="number">
        <label class="custom-control-label" for="number">Numeric Characters</label>
      </div>
      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="special" name="special">
        <label class="custom-control-label" for="special">Special Characters</label>
      </div>
      {% comment %} <input class="form-group mb-2" type="checkbox" name="uppercase"> Uppercase <br>
      <input class="form-group mb-2" type="checkbox" name="number"> Numeric <br>
      <input class="form-group mb-2" type="checkbox" name="special"> Special Chracters <br> {% endcomment %}
      <button type="submit" class="btn btn-primary">Generate Password</button>
    </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>